@media (min-width: 992px) {
  #login-register-form .modal-dialog {
    max-width: 850px;
  }
  #login-register-form .modal-dialog .modal-content {
    flex-direction: row;
  }
  #login-register-form .modal-dialog .modal-content .modal-header {
    width: 40%;
  }
  #login-register-form .modal-dialog .modal-content .modal-header .close {
    color: #3270fc;
  }
  #login-register-form .modal-dialog .modal-content .modal-body {
    width: 60%;
  }
  #login-register-form .modal-dialog .modal-content .modal-body .tabs-menu {
    padding: 0 90px;
  }
  #login-register-form .modal-dialog .modal-content .modal-body .form {
    padding: 0 90px;
  }
}
@media (min-width: 992px) {
  .advanced-search-modal .modal-content {
    margin-top: 320px;
  }
}
@media (min-width: 992px) {
  .header .right .login-toggler {
    padding: 0 25px;
    height: 70px;
    line-height: 70px;
    color: #144273;
    font-weight: 700;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .header .right .login-toggler:hover {
    text-decoration: none;
  }
  .header .right .login-toggler:hover i {
    color: #3270fc;
  }
  .header .right .login-toggler i {
    margin-right: 10px;
    color: #ccc;
  }
  .header .right .login-toggler span {
    display: inline-block;
    font-size: 13px;
    vertical-align: baseline;
  }
  .header .right .menu-toggle {
    display: none;
  }
  .header .right .main-menu-pc {
    display: inline-block;
  }
  .header .right .main-menu-pc .add-listing {
    display: inline-block;
    margin-left: 34px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    background: #3270fc;
    color: #fff;
    border-radius: 4px;
  }
  .header .right .main-menu-pc .add-listing:hover {
    text-decoration: none;
    background: linear-gradient(to right, #3c6afd, #57c7fa);
  }
  .header .right .main-menu-pc .add-listing i {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .main-banner {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
  }
  .main-banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: -1;
  }
  .main-banner:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 85%;
    top: 0;
    left: 15%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.99) 20%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 95%);
  }
  .main-banner .main-search {
    padding: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }

  .popular-posts .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .explore-features .container {
    display: flex;
    justify-content: space-between;
  }
  .explore-features .container .top {
    max-width: 40%;
  }
  .explore-features .container .bottom {
    max-width: 50%;
    position: relative;
  }
  .explore-features .container .bottom .img-wrap {
    margin-top: 0;
  }
  .explore-features .container .bottom .default-quote {
    position: absolute;
    bottom: 20px;
    right: -60px;
    width: 280px;
  }

  .popular-cities {
    display: flex;
  }
  .popular-cities .top {
    width: 33.33333333%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .popular-cities .bottom {
    width: 66.66666667%;
  }

  .meet-our-agents .bottom {
    position: relative;
  }
  .meet-our-agents .bottom .slider-control {
    display: block;
    width: 36px;
    height: 36px;
    background-color: #3270fc;
    color: #fff;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
  }
  .meet-our-agents .bottom .slider-control.prev {
    transform: rotate(90deg);
    left: -60px;
  }
  .meet-our-agents .bottom .slider-control.next {
    transform: rotate(-90deg);
    right: -60px;
  }

  .statistical .container {
    display: flex;
    justify-content: center;
  }
  .statistical .container .item {
    width: 25%;
  }

  .newsletters .wrap {
    padding: 90px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  .newsletters .wrap .subscribe-form input {
    width: 460px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  #post-list {
    padding-top: 190px;
  }

  .search-form-posts {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 16px 0;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }
  .search-form-posts .btn-actions {
    display: none;
  }
  .search-form-posts .pc-search-form {
    display: flex;
    align-items: center;
  }
  .search-form-posts .pc-search-form .label {
    padding: 0 30px;
  }
  .search-form-posts .pc-search-form .label label {
    margin-bottom: 0;
    color: #566985;
    font-size: 14px;
    font-weight: 500;
  }
  .search-form-posts .pc-search-form .form-group {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .search-form-posts .pc-search-form .form-control {
    padding: 16px 20px;
    height: 48px;
    background: #f5f7fb;
    color: #7d93b2;
    font-size: 12px;
    border: 1px solid #e5e7f2;
    border-radius: 4px;
  }
  .search-form-posts .pc-search-form .search-content {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .search-form-posts .pc-search-form .search-content .q,
.search-form-posts .pc-search-form .search-content .price-wrap,
.search-form-posts .pc-search-form .search-content .multiselect-localtion,
.search-form-posts .pc-search-form .search-content .category,
.search-form-posts .pc-search-form .search-content .submit-form {
    width: 20%;
  }
  .search-form-posts .pc-search-form .advanced-search-wrap {
    padding: 15px;
    cursor: pointer;
    color: #566985;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .search-form-posts .pc-search-form .submit-form button {
    background: #3270fc;
    color: #fff;
  }
  .search-form-posts .pc-search-form .submit-form button:hover {
    background: linear-gradient(to right, #3c6afd, #57c7fa);
  }
  .search-form-posts .pc-search-form #price-zone2 {
    position: relative;
    cursor: pointer;
  }
  .search-form-posts .pc-search-form #price-zone2 #price-display {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .search-form-posts .pc-search-form #price-zone2 .dropdown-menu.price-dropdown {
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
  }
  .search-form-posts .pc-search-form #price-zone2 .dropdown-menu.price-dropdown .ui-widget-header {
    background: #3270fc;
  }
  .search-form-posts .pc-search-form #price-zone2 .dropdown-menu.price-dropdown .ui-slider-handle {
    border-radius: 50%;
  }
  .search-form-posts .pc-search-form #price-zone2 .dropdown-menu.price-dropdown .price-inputs {
    margin-bottom: 20px;
    display: flex;
  }
  .search-form-posts .pc-search-form #price-zone2 .dropdown-menu.price-dropdown .price-inputs input {
    display: flex;
    width: calc(50% - 5px);
    height: 30px;
    padding: 6px 12px;
    border: 1px solid #e0e1e6;
    border-radius: 6px;
  }
  .search-form-posts .pc-search-form #price-zone2 .dropdown-menu.price-dropdown .price-inputs input:first-child {
    margin-right: 10px;
  }

  .sidebar-search-form {
    display: none;
  }

  .posts .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .posts .row [class^=col-] {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 992px) {
  .gallery-section .row {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery-section .row [class^=col-] {
    padding-left: 0;
    padding-right: 0;
  }

  .related-posts {
    position: relative;
  }
  .related-posts .slider-control {
    display: block;
    width: 36px;
    height: 36px;
    background-color: #fff;
    color: #3270fc;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
  }
  .related-posts .slider-control.prev {
    transform: rotate(90deg);
    left: -60px;
  }
  .related-posts .slider-control.next {
    transform: rotate(-90deg);
    right: -60px;
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 1140px;
  }
}

/*# sourceMappingURL=app-992.css.map*/