@import "components";
@import "layouts";
@import "pages";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 1.66;
}

a,
a:hover {
    color: #20c997;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.loading {
    .fa-spinner {
        display: none;
        animation: spin 2s linear infinite;
    }

    &.show {
        .fa-spinner {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 992px) {
    .multiselect-container button.dropdown-item {
        pointer-events: none;
    }
    .multiselect-container span.form-check input {
        pointer-events: all;
    }
    .multiselect-container span.form-check label {
        pointer-events: none;
    }
}
